body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow-y: auto;
}
h1 {
    color: #016565;
    margin-bottom: 0.5em;
}
p {
    margin: 0.2em;
}
button {
    margin: 0.5em 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 2px solid #016565;
    border-radius: 0.325rem;
}
button:hover {
    background-color: #d1fdfd;
}
#product-list {
    margin-top: 20px;
}
#product-list .product-item:not(:last-child) {
    border-bottom: 2px solid #ddd;
}
.product-item {
    /*margin: 10px 0;*/
    padding: 0.65em 0;
    text-align: left;
}
.product-item h2 {
    font-size: 18px;
    color: #016565;
    text-transform: capitalize;
    margin: 0;
}
.product-item .price {
    font-size: 0.8em;
    font-weight: bold;
    color: #444;
}
.product-item img {
    width: 150px;
    height: auto;
    display: block;
    object-fit: cover;
    margin: 10px 0;
}
.product-item img[alt] {
    font-size: 0.8em;
    display: inline-block;
}
input {
    margin: 10px 0;
    padding: 8px;
    width: 200px;
}